
@{
    ViewBag.Title = "about";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--about-->
<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">
            <h2>About</h2>
        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
                    <img src="~/Content/assets/img/Cover/stock-photo--fluorite-oil-painting-conceptual-abstract-picture-of-the-eye-oil-painting-in-colorful-1445018480.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
                    <div class="section">
                        <h1 class="headingDASH">Who We Are</h1>
                        <p class="CALLOUTcontent">The Institute: your destination for the past, present, and future of art.</p>
                        <p class="content">
                            The Institute is a thriving center of advanced research and graduate teaching in art history, archaeology, and art conservation. A site of knowledge production since its founding in 1932, the Institute has also produced many of the world’s leading art historians, museum directors, curators, and conservators.
                            Learn more about what's happening at the Institute in <span style="color:#f11f7a">the annual</span>.
                        </p>
                        <br>
                        <br>
                        <table class="center">
                            <tr>
                                <td>
                                    <p class="content" style="text-align:center;">
                                      
                                        <br>
                                        <span class="CALLOUTcontent4"> 41 Museum Directors Worldwide are Alumni of the Institute</span>
                                    </p>
                                
                                </td>
                            </tr>
                        </table>
                        <br>
                        <br>
                    </div>
                    <div class="section">
                        <h2 class="headingDASH">What We Do</h2>
                        <p class="CALLOUTcontent">The Institute: a community of learning</p>
                        <p class="content">Institute students join a tradition of research excellence and share in the latest thinking. They are prepared for careers in the art world, in museums, in conservation, and in universities. We offer the following degrees and fields of study:</p>
                        <p class="content" style="text-align:center;"> <img src="~/Content/assets/img/Cover/book-imagination-hd-wallpaper-preview.jpg" alt="" class="img-fluid"> </p>
                        <ul class="CALLOUTcontent2">
                            <li>
                                <h6 style="color:#f11f7a;"> PhD in History of Art & Archaeology</h6><br>
                                <br>
                            </li>
                            <li>
                                <h6 style="color:#f11f7a;">M.S. and M.A. Dual-Degree: M.S. in Conservation of Historic and Artistic Works and M.A. in History of Art and Archaeology </h6><br>
    <br>
</li>
                            <li><h6 style="color:#f11f7a;">M.A in History of Art and Archaeology </h6></li>
                        </ul>
                    </div>

                </div>
            </div>

        </div>
    </section><!-- End About Section -->
</main>
