
@{
    ViewBag.Title = "gallery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<div class="container-fluid text-white text-center" data-aos="fade-in">
    <h2 id="tp2">Runner's Up Of Previous Competetion</h2>
</div>


<!--   RUNNER'S UP CARD -->
<div class="container" id="tp" data-aos="fade-up">
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art1.jpg">
                    <h3 class="card-title">Austin Francis</h3><button type="button" class="btn btn-danger">1st</button>
                    <p class="card-text">Photography has saved me from going down, a completely different road. I can imagine if I wasn't photography, that I don't know where I would be today.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art2.jpg">
                    <h3 class="card-title">Sherwin Lobo</h3><button type="button" class="btn btn-warning text-white">2nd</button>
                    <p class="card-text">If you're wondering what the difference is, well fine art is like art that exists for its own sake. The Thing that fine art does is itself. Design is art that does something else. It's more like visual engineering.</p>

                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art3.jpg">
                    <h3 class="card-title">Nicholas Russel</h3><button type="button" class="btn btn-success">3rd</button>
                    <p class="card-text">Many times someone giving you advice is just trying to convince themselves of said advice, this is my advice to you and me.</p>

                </div>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid text-white text-center" id="head2" data-aos="fade-up">
    <h2 class="header" id="tp2">Collection Of Previous Competetions</h2>
</div>

<!--   IMAGES CARDS -->

<div class="container" id="tp" data-aos="fade-up">
    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art4.jpg">
                    <h3 class="card-title">Talha Tanveer</h3>
                    <p class="card-text">Poetry is an art, and chief of the fine art; the easiest to dabble in, the hardest in which to reach true excellence.</p>
                    <p class="card-text">Posted on: 17 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.5000 </h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art5.jpg">
                    <h3 class="card-title">Malik Anas </h3>
                    <p class="card-text">Then I abandoned comics for fine art because I had some romantic vision of being like Vincent Van Gogh Jr.</p>
                    <p class="card-text">Posted on: 23 aug,2021</p>
                    <h4 class="text"style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.8000</h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art6.jpg">
                    <h3 class="card-title">Abdul Moiz</h3>
                    <p class="card-text">Their scrambled attention spans struck me as a metaphor for the way we get our doses of reality these days.</p>
                    <p class="card-text">Posted on: 20 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.7500</h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art7.jpg">
                    <h3 class="card-title">Jeroome Joseph</h3>
                    <p class="card-text">Poetry is an art, and chief of the fine art; the easiest to dabble in, the hardest in which to reach true excellence.</p>
                    <p class="card-text">Posted on: 12 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.6200 </h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art8.jpg">
                    <h3 class="card-title">Mickyle John </h3>
                    <p class="card-text">Then I abandoned comics for fine art because I had some romantic vision of being like Vincent Van Gogh Jr.</p>
                    <p class="card-text">Posted on: 25 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.10000</h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art9.jpg">
                    <h3 class="card-title">Sheeba Henry</h3>
                    <p class="card-text">Their scrambled attention spans struck me as a metaphor for the way we get our doses of reality these days.</p>
                    <p class="card-text">Posted on: 21 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.8500</h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art10.jpg">
                    <h3 class="card-title">Seemab Asif</h3>
                    <p class="card-text">Poetry is an art, and chief of the fine art; the easiest to dabble in, the hardest in which to reach true excellence.</p>
                    <p class="card-text">Posted on: 24 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.3000 </h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art11.jpg">
                    <h3 class="card-title">Alita Tahir </h3>
                    <p class="card-text">Then I abandoned comics for fine art because I had some romantic vision of being like Vincent Van Gogh Jr.</p>
                    <p class="card-text">Posted on: 13 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.5600</h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art12.jpg">
                    <h3 class="card-title">Yashua Ghulfam</h3>
                    <p class="card-text">Their scrambled attention spans struck me as a metaphor for the way we get our doses of reality these days.</p>
                    <p class="card-text">Posted on: 16 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.7800</h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art13.jpg">
                    <h3 class="card-title">Raza Ali</h3>
                    <p class="card-text">Poetry is an art, and chief of the fine art; the easiest to dabble in, the hardest in which to reach true excellence.</p>
                    <p class="card-text">Posted on: 18 aug,2021</p>
                    <h4 class="text"style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.9000 </h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art14.jpeg">
                    <h3 class="card-title">Kabeer Zaidi </h3>
                    <p class="card-text">Then I abandoned comics for fine art because I had some romantic vision of being like Vincent Van Gogh Jr.</p>
                    <p class="card-text">Posted on: 28 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.4500</h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art15.jpg">
                    <h3 class="card-title">Williams John</h3>
                    <p class="card-text">Their scrambled attention spans struck me as a metaphor for the way we get our doses of reality these days.</p>
                    <p class="card-text">Posted on: 28 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.2500</h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art16.jpg">
                    <h3 class="card-title">Noman Bhatti</h3>
                    <p class="card-text">Poetry is an art, and chief of the fine art; the easiest to dabble in, the hardest in which to reach true excellence.</p>
                    <p class="card-text">Posted on: 16 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.3300 </h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art17.jpg">
                    <h3 class="card-title">Dua Zulfiqar </h3>
                    <p class="card-text">Then I abandoned comics for fine art because I had some romantic vision of being like Vincent Van Gogh Jr.</p>
                    <p class="card-text">Posted on: 28 sep,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.2800</h4>
                    <button type="button" class="btn btn-warning">SOLD</button>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card" id="run">
                <div class="card-body">
                    <img class="card-img-top" src="~/Content/assets/img/Paintings/art18.jpg">
                    <h3 class="card-title">Gretta Margrette</h3>
                    <p class="card-text">Their scrambled attention spans struck me as a metaphor for the way we get our doses of reality these days.</p>
                    <p class="card-text">Posted on: 18 aug,2021</p>
                    <h4 class="text" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';">Rs.9200</h4>
                    <button type="button" class="btn btn-danger">NOT YET SOLD</button>
                </div>
            </div>
        </div>
    </div>
</div>

